<div ng-repeat="(agentIndex, agentData) in combinedAgentData">

  <img ng-src="{{ctrl.iconUrl(agentData.agentString)}}">
  v{{agentData.agent.major}}.{{agentData.agent.minor}}.{{agentData.agent.patch}}:

  <span ng-repeat="method in ctrl.mc.flattened[agentIndex].method">
    <b ng-if="$index !== 0">-&gt;</b>

    <span ng-class="{red: !method.common }">
      {{method.value | uppercase}}
    </span>
    at
    <span ng-class="{red: !ctrl.mc.flattened[agentIndex].path[$index].common}">
      {{ctrl.mc.flattened[agentIndex].path[$index].value.replace('/','')}}
    </span>
    location
  </span>

  <b>-></b>
  <span ng-class="{red: !ctrl.mc.flattened[agentIndex].length.common }">
    Done
  </span>
  ...
  <b> Browser Sees </b>
  (<span ng-class="{red: !ctrl.mc.flattened[agentIndex].code.common }">
  {{ctrl.mc.flattened[agentIndex].code.value}}
  </span>):
  <span ng-class="{red: !ctrl.mc.flattened[agentIndex].body.common }">
    {{ctrl.mc.flattened[agentIndex].body.value}}
  </span>
</div>
