<table border="2px solid">
  <thead>
  <tr>
    <th></th>
    <th ng-repeat="code in codes">{{code | uppercase}}</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="method in methods">
    <th>{{method | uppercase}}</th>
    <td
      ng-class="{
        hoverSelect:selected({method:method, code:code}),
        hoverLock:locked() && selected({method:method, code:code}),
        notUniversal: !universal({method:method, code:code})
      }"
      ng-repeat="code in codes"
      result-cell="result[method][code]"
      hover="parentHover({method:method, code:code})"
      lock="parentLock({method:method, code:code})"
      >
    </td>
  </tr>
  </tbody>
</table>